.image-card{
    width: min(18vh, 18vw);
    height: min(18vh, 18vw);
    border-radius: 5px;
    border: 1px solid black;
}
.image-button{
    background-color: transparent;
    border: 0px solid transparent;
}