<div class="container text-center homePage">
    <div class="Menu">
        <h1>{{title}}</h1>
        <div class="row">
            <button type="button" class="btn btn-outline-success offset-4 col-4">Start</button>
        </div>
        <div class="row">
            <button class="btn btn-outline-warning offset-4 col-4" data-bs-toggle="collapse" data-bs-target="#Rules" aria-expanded="false" aria-controls="Rules">Rules</button>
            <div class="collapse" id="Rules">
                <div class="card card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor, quam vel facilisis tincidunt, velit velit malesuada massa, a placerat odio velit ac nisi. Sed euismod, metus vitae consectetur dictum, tellus ipsum aliquet erat, sit amet molestie leo ante non sem. Donec auctor, ipsum in interdum aliquet, sapien lacus tristique orci, vel euismod lectus libero eu ligula. Nullam hendrerit sem ut ex dictum dictum. Aliquam erat volutpat. In euismod commodo pellentesque. Sed sed commodo sem. Nam id justo ac neque dictum tempus.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor, quam vel facilisis tincidunt, velit velit malesuada massa, a placerat odio velit ac nisi. Sed euismod, metus vitae consectetur dictum, tellus ipsum aliquet erat, sit amet molestie leo ante non sem. Donec auctor, ipsum in interdum aliquet, sapien lacus tristique orci, vel euismod lectus libero eu ligula. Nullam hendrerit sem ut ex dictum dictum. Aliquam erat volutpat. In euismod commodo pellentesque. Sed sed commodo sem. Nam id justo ac neque dictum tempus.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor, quam vel facilisis tincidunt, velit velit malesuada massa, a placerat odio velit ac nisi. Sed euismod, metus vitae consectetur dictum, tellus ipsum aliquet erat, sit amet molestie leo ante non sem. Donec auctor, ipsum in interdum aliquet, sapien lacus tristique orci, vel euismod lectus libero eu ligula. Nullam hendrerit sem ut ex dictum dictum. Aliquam erat volutpat. In euismod commodo pellentesque. Sed sed commodo sem. Nam id justo ac neque dictum tempus.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor, quam vel facilisis tincidunt, velit velit malesuada massa, a placerat odio velit ac nisi. Sed euismod, metus vitae consectetur dictum, tellus ipsum aliquet erat, sit amet molestie leo ante non sem. Donec auctor, ipsum in interdum aliquet, sapien lacus tristique orci, vel euismod lectus libero eu ligula. Nullam hendrerit sem ut ex dictum dictum. Aliquam erat volutpat. In euismod commodo pellentesque. Sed sed commodo sem. Nam id justo ac neque dictum tempus.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor, quam vel facilisis tincidunt, velit velit malesuada massa, a placerat odio velit ac nisi. Sed euismod, metus vitae consectetur dictum, tellus ipsum aliquet erat, sit amet molestie leo ante non sem. Donec auctor, ipsum in interdum aliquet, sapien lacus tristique orci, vel euismod lectus libero eu ligula. Nullam hendrerit sem ut ex dictum dictum. Aliquam erat volutpat. In euismod commodo pellentesque. Sed sed commodo sem. Nam id justo ac neque dictum tempus.
                </div>
            </div>
        </div>
    </div>

    <div class="images" >
        <ng-container *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <img class="image-moving" src={{urlImage}} alt="f">
        </ng-container>
    </div>
</div>
