@import url('https://fonts.cdnfonts.com/css/korean-calligraphy');

.timer{
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-family: 'Korean Calligraphy', sans-serif;
}