<div class="box-game container">
    <div class="row">
        <app-timer class="offset-4 col-2" 
            [curState] = 'CurState'
            (stateGame)="stateGame($event)"></app-timer>
        <h4 [class.one-live]="TotalLives < 2" class="lives col-2">Lives: {{TotalLives}}</h4>
    </div>
    <div class="container card-game">
        <ng-container *ngFor="let i of [0, 1, 2, 3]">
            <div class="row">
                <ng-container *ngFor="let j of [0, 1, 2, 3]">
                    <div class="card col">
                        <app-card 
                            [img]="Cards[j + 4*i]" 
                            [state]="State" 
                            [init]="IsStateInit"
                            (clickCard)="verifySelect($event)"></app-card>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>
