<div class="box-game">
    <app-timer [timeInit]="7" [timeGame]="30" (stateGame)="stateGame($event)"></app-timer>
    <div class="container card-game">
        <ng-container *ngFor="let i of [0, 1, 2, 3]">
            <div class="row">
                <ng-container *ngFor="let j of [0, 1, 2, 3]">
                    <div class="col">
                        <app-card [img]="cardsAleatory[j + 4*i]" [block]="block"></app-card>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>