.card-game{
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-family: 'Korean Calligraphy', sans-serif;
    margin-top: 10px;
}

.image-card{
    width: min(20vh, 20vw);
    height: min(20vh, 20vw);
    border-radius: 5px;
    border: 1px solid black;
}

.row{
    margin-top: 5px;
}